* { 
	font-size: 18pt; /* Размер шрифта в пунктах */ 
	text-decoration: none;
}
.typedTable {
	border: 1px solid black;
}
.tdClass {
	border-color: #7D6D00;
	background-color: #3C352E;
	color: white;
	cursor: pointer;
}